name: CI
on:
  workflow_dispatch:
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: |
          touch helloworld.txt
          pwd


      - name: Run a multi-line script
        run: |
          ls -lrth
          pwd
